atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.13
chardet==3.0.4
colorama==0.3.9
html5lib==1.0.1
idna==2.7
more-itertools==4.3.0
natsort==5.4.1
oauthlib==2.1.0
pluggy==0.7.1
py==1.10.0
pyparsing==2.2.2
pytest==3.7.1
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
urllib3==1.24.2
webencodings==0.5.1
wincertstore==0.2
